<div class="each-burger clearfix">
    <p class="devoured-{{devoured}}" data-id="{{id}}" value="{{devoured}}">{{id}}. {{burgers}}</p>
    {{#unless ate}}
    <button class="devour-button" data-id="{{id}}" data-devour="true">
        Devour It!
    </button>
    {{/unless}}
</div>